@import "~katex/dist/katex.min.css"

html, body, #app, .app
  height: 100%

body
  margin: 0

.app
  display: flex
  flex-direction: column

.board
  flex-grow: 1

.box
  background: pink
  border: black 1px solid
  border-radius: 15px
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5)
  box-sizing: border-box
  cursor: move
  font-family: "KaTeX_Main", serif
  text-shadow: 15px 30px red, -15px -15px green, 15px -30px blue, -15px 15px yellow
  padding: 20px
  position: absolute
  height: 150px
  width: 150px
